snippet form "simple form" b
<form action="${1}" method="${2}">
</form>
endsnippet

snippet label
<label for="${1}">${2}</label>
endsnippet

snippet input
<input name="${1}" type="${2}">
endsnippet
snippet html "HTML5 Boilerplate" b
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>${1:Document}</title>
</head>
<body>
    ${0}
</body>
</html>
endsnippet

