snippet mdl_find "Find Method for Model"
public function find(int $id): array | false {
  $stmt = $this->db->prepare("SELECT * FROM {$this->table} WHERE id = :id");
  $stmt->execute(['id' => $id]);
  return $stmt->fetch(PDO::FETCH_ASSOC);
}
endsnippet

