snippet block "BEM Block"
.${1:block} {
  ${0}
}
endsnippet

snippet element "BEM Element"
  
.${1:block}__${2:element} {
  ${0}
}
endsnippet


snippet modifier "BEM modifier"
  
.${1:block}--${3:modifier} {
  ${0}
}
endsnippet

