snippet button "Button Component" b
.${1:button} {
  display: inline-block;
  padding: ${2:0.625rem} ${3:1.250rem};
  border-radius: ${4:0.313rem};
  background-color: ${5:#3498db};
  color: ${6:#fff};
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: ${7:1.000rem};
}

.${1:button}--${8:primary} {
  background-color: ${9:#2ecc71};
}

.${1:button}--${10:disabled} {
  background-color: ${11:#95a5a6};
  cursor: not-allowed;
}
endsnippet

