snippet card "Card Component" b
.${1:card} {
  border: ${2:0.063rem solid #ccc};
  border-radius: ${3:0.625rem};
  padding: ${4:1.250rem};
  background-color: ${5:#fff};
  box-shadow: ${6:0 0.125rem 0.313rem rgba(0, 0, 0, 0.1)};
}

.${1:card}__${7:title} {
  font-size: ${8:1.125rem};
  font-weight: bold;
  margin-bottom: ${9:0.625rem};
}

.${1:card}__${10:description} {
  font-size: ${11:0.875rem};
  color: ${12:#666};
}
endsnippet

