snippet grid "Grid Layout" b
.${1:grid} {
  display: grid;
  grid-template-columns: repeat(${2:3}, 1fr);
  grid-gap: ${3:0.625rem};
}

.${1:grid}__${4:item} {
  background-color: ${5:#f4f4f4};
  padding: ${6:0.625rem};
  border: ${7:0.063rem solid #ccc};
  border-radius: ${8:0.313rem};
}
endsnippet

