snippet header "Header Component" b
.${1:header} {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: ${2:0.625rem} ${3:1.250rem};
  background-color: ${4:#2c3e50};
  color: ${5:#fff};
}

.${1:header}__${6:logo} {
  font-size: ${7:1.500rem};
  font-weight: bold;
}

.${1:header}__${8:nav} {
  display: flex;
  gap: ${9:0.938rem};
}

.${1:header}__${10:nav-item} {
  text-decoration: none;
  color: ${11:#fff};
}

.${1:header}__${10:nav-item}--${12:active} {
  font-weight: bold;
  text-decoration: underline;
}
endsnippet

